body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(195, 228, 241);
    color: rgb(0, 0, 0);
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 1em;
}

.searchLabel{
    padding: 15px;
    font-size: 1em;
    min-width: 180px;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.searchContainer form {
    display: flex;
    align-items: center;   
    flex-wrap: wrap;
}

.propertyCard{
    border: solid black 5px;
    border-radius: 15px;
    padding: 20px;
}

.propertycontainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.rw-widget{
    min-height: 38px;
    width: 100%;
}

@media (max-width: 1032px) {
  .searchContainer form {
    justify-content: center;
  }

  .searchLabel {
    min-width: 45%;
  }
}

@media (max-width: 777apx) {
  .searchContainer form {
    flex-direction: column;
    align-items: stretch;
  }

  .searchLabel {
    width: 100%;
  }

  .searchContainer button {
    width: 100%;
  }
}

